#FeedbackList{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    .journeyList{
        margin-bottom: 5px;
    
    }
    .feedbackDetails{
        border-top: 1px dotted black;
        float: left;
    }
}