#AirQuality{
    margin-left: 20px;
    margin-top: 3%;
    text-align: left;
    .title{
        // vertical-align: top;
        // display: inline;
        float: right;
    }

    .MuiAccordionSummary-gutters{
        text-decoration: solid;
    }
   .MuiAccordionDetails-root span{
    text-align: left;
    }
    .MuiCollapse-root{
        margin-bottom: 2px;
    }
}