#RouteList{
        // max-width: 65%;
        // margin: auto;
        margin-left: 20px;
        margin-top: 3%;
        .journeyList{
            // width: 700px;
        }
    .arrivalTimeStyle{
        margin: auto 10px 0px auto;
    }
    .button_style{
        float: right;
        margin-bottom: 10px;
    }
}